.app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #008080;
  color: white;
  font-family: "MS Sans Serif", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}